<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deal">


	<insert id="insertDeal" parameterType="com.project.deal.Deal">
	INSERT INTO deal (userId,userName,subject,price,instantPrice,discountRate,category1,category2,
					people,approveCheck,start_date,end_date,content,saveFilename,originalFilename
					,region1,region2,tag1,tag2)
 VALUES (#{userId},#{userName},#{subject},#{price},#{instantPrice},#{discountRate},#{category1}
 	,#{category2},#{people},1,#{start_date},
	#{end_date},#{content},#{saveFilename},#{originalFilename},#{region1},#{region2},#{tag1},#{tag2});

	</insert>



</mapper>